<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	default-autowire="byName">
	<!-- 属性文件读入 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:important.properties</value>
			</list>
		</property>
	</bean>
	<bean class="com.shixiseng.recommend.interface.common.Properties">
		<property name="redisUrl" value="${redis.url}"></property>
		<property name="recommendByUserSize" value="${user.size}"></property>
		<property name="recommendByResumeSize" value="${resume.size}"></property>
		<property name="recommendByInternSize" value="${intern.size}"></property>
		<property name="recommendByInternContentSize" value="${intern.content.size}"></property>
	</bean>
	<task:annotation-driven />

	<import resource="spring/spring-config-mvc.xml" />
</beans>