#set($layout="/layout/indexLayout.vm")
<!--style type="text/css">
    #view{display:none;}
    .tag-span{background-color:rgba(194, 166, 181, 0.45);
        width: 100px;
        height: 30px;
        margin-left: 0px;;
</style-->

#parse("common/navcommon.vm")
<div class="span9">
    <h3>模板列表(图表类型)</h3>
    <div class="search">
        <span>名称：</span>
        <input id="name" type="text" />
##        <select>
##            <option value="">请选择-默认</option>
##            <option value="desc>按更新时间倒序</option>
##            <option value="asc">按更新时间升序</option>
##        </select>
        <span>ID: </span>&nbsp;&nbsp;&nbsp;
        <input id="id" style="width:80px;" type="text" />
       <br/>
        <br/>
        <div id="tagDiv">
            <span>报表标签: </span>
        </div>
##        <button class="btn" style="width: 80px;margin: 8px">搜索</button>
    </div>

    <div id="report-list"></div>
</div>


<script type="text/javascript" src="/misc/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/misc/js/utils.js"></script>
<script type="text/javascript" src="/misc/js/common.js"></script>
<script type="text/javascript" src="/misc/wbox/wbox.js"></script>
<link rel="stylesheet" type="text/css" href="/misc/wbox/wbox.css">
<link rel="stylesheet" type="text/css" href="/misc/css/bootstrap.min.css">
<script type="text/javascript">
    $('#report-list-pic').addClass('active');
    initTagSelect();

    function initTagSelect(){
        jQuery.ajax({
            url:'/tag/getAll.html',
            type:'POST',
            dataType:'json',
            success:function(data){
                if(data.success){
                    jQuery.each(data.tags,function(i,item){
                        var ss='<input type="checkbox" class="cb" name="tags" style="height:18px; width:20px; margin-left:15px " value="'+item.id+'"> '+item.name ;
                        console.log(ss);
                       $('#tagDiv').append(ss);
                    })
                }else{
                    alert("错误");
                }
            }

        })


    }

//    if ($.browser.msie) {
//        $('input:checkbox').click(function () {
//            this.blur();
//            this.focus();
//        });
//    };
    $('#name').change(function(){
        queryList(1)
    })
    $('#id').change(function(){
        queryList(1)
    })
    $('#tagDiv').delegate("input:checkbox","click",function(){
        queryList(1)
    })

    function queryList(page){
        var url = '/report/list',
            id=$('#id').val().trim(),
            name = $('#name').val().trim();
        var params = {
            page:page,
            type:1
        };
        if(name != ''){
            params.name = name;
        }
        if(id!=''){
            params.id=id;
        }
        var selectType = $('.search select').val();
        if(selectType != ''){
            params.orderFieldType=selectType;
            params.orderField='modifyDate';
        }
        var tagIds=[];
        $('input[name="tags"]:checked').each(function(){
            tagIds.push($(this).val());
        })
        if(tagIds.length>=1){
            params.tagIds=tagIds.join()
        }
        utils.fgetHtml(url, 'report-list', params);
    }

    queryList(1);

    $('.search button').click(function(){
        queryList(1);
    });
</script>